@{
    ViewData["Title"] = "Edit Category Page";
}
@model Category

<h3 class="text-center">Add new</h3>
        <hr />

        <form asp-controller="category" asp-action="edit" method="post">
            <div class="container mt-3 custom-input">
                <input type="hidden" value="@Model.Id"/>
                <label asp-for="Name" class="form-label">Category Name</label>
                <div class="input-group mb-3">
                    <input asp-for="Name" type="text" class="form-control" value="@Model.Name">
                </div>                
                <span asp-validation-for="Name" class="text-danger"></span><br>
            </div>

            <div class="button-group">
                <a asp-controller="category" asp-action="index" class="btn btn-dark">Cancel</a>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>