<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewsWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
    <!-- Header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid mx-4">
                <a class="navbar-brand" asp-controller="home" asp-action="index">NewsWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a asp-controller="home" asp-action="index" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a  asp-controller="news" asp-action="index" class="nav-link">News Control</a>
                        </li>
                        <li class="nav-item">
                            <a  asp-controller="category" asp-action="index" class="nav-link">Category Control</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    
    <main role="main" class="container mt-3">
        @RenderBody()
    </main>

    <<!-- Footer -->
    <footer class="py-1 bg-dark border-top mt-4">
        <p class="text-center text-light pt-3">© @DateTime.Now.Year <a href="https://dot-net.uz"
                class="link-info">DOTNET.UZ Community</a></p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
